
@border-color: #E6E9ED;
@border-top-bottom: rgba(38, 185, 154, .11);


.type-13 {
    color: #73879C;
    .admin-panel {
        width: 100%;
        padding: 10px 17px;
        display: inline-block;
        background-color:#1F2739;
        border: 1px solid @border-color;
        opacity: 1;
        transition: all .2s ease;
        margin-bottom: 10px;
        position: relative;

        .admin-title {
            border-bottom: 2px solid @border-color;
            padding: 1px 5px 6px;
            h3 {
                margin: 5px 0 6px;
                float: left;
                display: block;
                font-size:3em; 
                font-weight: 300;
                line-height:1em;
                text-align: center;
                color: #4DC3FA;
            }
            small {
                color: #FFF842;
            }
            ul.items {
                margin-right: 0;
                min-width: 70px;
                float: right;
                list-style: none;
                margin-top: 5px;
                li {
                    float: left;
                    cursor: pointer;
                    a {
                        padding: 5px;
                        color: #BAB8B8;
                        font-size: 13px;
                    }
                }
                li.dropdown {
                    ul.dropdown-menu {
                        min-width: 0!important;
                    }
                }
                .collapse-link, .close-link {
                    opacity: 1;
                }
            }
        }
        .admin-content {
            padding: 0 5px 6px;
            float: left;
            margin-top: 5px;
            width: 100%;
            p {
                margin-top: 10px;
            }
            .info-table {
                table.data-table {       
                    text-align: left;
                    overflow: hidden;
                    // width: 90%;
                    margin: 0 auto;
                    display: table;
                    padding: 0 0 8em 0;

           
                    // th:nth-child(5) {
                    //     font-weight: bold;
                    //     font-size: 1em;
                    //     text-align: left;
                    //     color: #185875;
                    // }

                    td {
                        font-weight: normal;
                        font-size: 1em;
                        -webkit-box-shadow: 0 2px 2px -2px #0E1119;
                        -moz-box-shadow: 0 2px 2px -2px #0E1119;
                        box-shadow: 0 2px 2px -2px #0E1119;
                        padding-bottom: 2%;
                        padding-top: 2%;
                        padding-left:2%;  
                    }



                    th {
                        padding-bottom: 2%;
                        padding-top: 2%;
                        padding-left:2%;
                        background-color: #1F2739;
                    }

                    tr:nth-child(odd) {
                        background-color: #323C50;
                    }

                    tr:nth-child(even) {
                        background-color: #2C3446;
                  }

                  td:nth-child(5) {
                    color: #FB667A;
                  }

                  tr:hover {
                    background-color: #464A52;
                 -webkit-box-shadow: 0 6px 6px -6px #0E1119;
                        -moz-box-shadow: 0 6px 6px -6px #0E1119;
                             box-shadow: 0 6px 6px -6px #0E1119;
                 }

                 td:hover {
                    background-color: #FFF842;
                    color: #403E10;
                    font-weight: bold;
                    
                    box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
                    transform: translate3d(6px, -6px, 0);
                    
                    transition-delay: 0s;
                    transition-duration: 0.4s;
                    transition-property: all;
                    transition-timing-function: line;
                  }
                }
            }
        }
    }

}